---
layout: default
title: Denizens
crawlertitle: Denizens of the Logrus
---
<!doctype html>
<html>
	<head>
    	<meta charset="utf-8">
    	<title>{{ page.title }}</title>
	</head>
	<body>

		<div class="quarter"><a href="Dean/index.html">  <img class="qi" src="images/Dean.jpg"></a>Dean Elhard</div>
		<div class="quarter"><a href="Rachel/index.html"><img class="qi" src="images/Rachel.jpg"></a>Rachel MclEan</div>
		<div class="quarter"><a href="Anne/index.html">  <img class="qi" src="images/Anne.jpg"></a>Anne MclEan</div>
		<div class="quarter"><a href="Pamela/index.html"><img class="qi" src="images/Pamela.jpg"></a>Pamela NicGilEan</div>

	</body>
</html>
